<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Forum</title>
  </head>
  <body>
    <!-- boilerplate.ejs set up the general layout for this ejs file. -->
    <% layout('layouts/boilerplate')%>
    <h1 class="welcome-title">Welcome to the Forum!</h1>
  </body>
</html>
